.container {
  max-width: 860px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 30px 15px;


  nav {
    display: flex;
    justify-content: space-between;

    a {
      padding: 10px 20px;
      position: relative;
      font-size: 1.2em;

      &.active::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 50%;
        bottom: 0;
        left: 49%;
        width: 5px;
        height: 5px;
        background-color: black;
        // animation: wiu-wiu 1200ms ease-in-out infinite both;
      }
    }
  }
}

@keyframes wiu-wiu {
  0% {
    bottom: 0;
    left: 49%;
    width: 5px;
    height: 5px;
  }
  25% {
    left: calc(49% - 2.5px);
    width: 10px;
    height: 5px;
  }
  50% {
    left: 49%;
    bottom: 0;
    width: 5px;
    height: 5px;
  }
  75% {
    left: 49%;
    bottom: -2.5px;
    width: 5px;
    height: 10px;
  }
  100% {
    left: 49%;
    bottom: 0;
    width: 5px;
    height: 5px;
  }
}
